<!DOCTYPE html>
<html lang="en" data-theme="light" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Product</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.13/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-base-200">
<th:block th:insert="~{components/page-header.html}"/>
<th:block th:insert="~{components/alert_warning.html}"/>
<form method="post" action="/create" class="form-control card-bordered mt-6 mx-auto card bg-base-100 pb-4 w-[95%] lg:w-2/3 shadow-xl">
    <input type="hidden" name="pageNumber" th:value="${pageNumber}" />
    <input type="hidden" name="pageSize" th:value="${pageSize}" />
    <div class="card-body gap-3">
        <h2 class="card-title text-2xl">Create Product</h2>
        <!-- Product Code -->
        <div class="mt-1 flex gap-2">
            <label class="form-control w-1/3">
                <div class="label">
                    <span class="label-text-alt">Product Code</span>
                </div>
                <input class="input input-sm input-bordered shadow-xs" type="text" name="productCode" placeholder="Product Code" required />
            </label>
            <label class="form-control w-2/3">
                <div class="label">
                    <span class="label-text-alt">Product Name</span>
                </div>
                <input class="input input-sm input-bordered shadow-xs" type="text" name="productName" placeholder="Product Name" required />
            </label>
        </div>

        <!-- Product Line -->
        <div class="mt-1">
            <label class="form-control w-full">
                <div class="label">
                    <span class="label-text-alt">Product Line</span>
                </div>
                <select class="select select-sm w-full select-bordered shadow-xs" name="productLine" required>
                    <option disabled selected value="">Select Product Line</option>
                    <option value="Classic Cars">Classic Cars</option>
                    <option value="Motorcycles">Motorcycles</option>
                    <option value="Planes">Planes</option>
                    <option value="Ships">Ships</option>
                    <option value="Trains">Trains</option>
                    <option value="Trucks and Buses">Trucks and Buses</option>
                    <option value="Vintage Cars">Vintage Cars</option>
                </select>
            </label>
        </div>

        <!-- Product Scale -->
        <div class="mt-1 flex gap-2">
            <label class="form-control w-full">
                <div class="label">
                    <span class="label-text-alt">Product Scale</span>
                </div>
                <input class="input input-sm w-full input-bordered shadow-xs" type="text" name="productScale" placeholder="Product Scale" />
            </label>
            <label class="form-control w-full">
                <div class="label">
                    <span class="label-text-alt">Product Vendor</span>
                </div>
                <input class="input input-sm w-full input-bordered shadow-xs" type="text" name="productVendor" placeholder="Product Vendor" />
            </label>
        </div>

        <!-- Product Description -->
        <div class="mt-1">
            <label class="form-control">
                <div class="label">
                    <span class="label-text-alt">Text Description</span>
                </div>
                <textarea class="textarea textarea-sm w-full textarea-bordered shadow-xs h-40" name="productDescription" placeholder="Product Description"></textarea>
            </label>
        </div>

        <!-- Quantity in Stock -->
        <div class="mt-1 flex gap-2">
            <label class="form-control">
                <div class="label">
                    <span class="label-text-alt">Quantity</span>
                </div>
                <input class="input input-sm w-full input-bordered shadow-xs" type="number" name="quantityInStock" placeholder="Quantity" required />
            </label>
            <label class="form-control">
                <div class="label">
                    <span class="label-text-alt">Buy Price</span>
                </div>
                <input class="input input-sm w-full input-bordered shadow-xs" type="number" step="0.01" name="buyPrice" placeholder="Buy Price" required />
            </label>
            <label class="form-control">
                <div class="label">
                    <span class="label-text-alt">MSRP</span>
                </div>
                <input class="input input-sm w-full input-bordered shadow-xs" type="number" step="0.01" name="msrp" placeholder="MSRP" required />
            </label>
        </div>
    </div>

    <!-- Actions -->
    <div class="card-actions flex-row-reverse justify-center mx-5 items-center">
        <!-- Submit Button -->
        <button type="submit" class="btn btn-success btn-md">
            Create
        </button>
        <!-- Cancel Button -->
        <a href="/products" class="hover:btn-error btn hover:bg-white/0 text-error btn-link">
            Cancel
        </a>
    </div>
</form>
<th:block th:insert="~{components/footer.html}"/>
<script src="js/script.js"></script>
</body>
</html>
